#!/bin/csh -f

#
# GO Text configuration file
#

source ${NOTELOAD}/Configuration

setenv NOTEMODE		load
setenv NOTEDATADIR      ${DATALOADSOUTPUT}/go/gotextload/output
setenv NOTEINPUTFILE 	${DATALOADSOUTPUT}/go/gotextload/input/gotext.txt
setenv NOTELOG          ${DATALOADSOUTPUT}/go/gotextload/logs/gotext.log
setenv NOTETYPE		"GO Text"
setenv NOTEOBJECTTYPE   Marker

